namespace: nicolasb

replicaCount: 1

image:
  repository: ${IMAGE}
  pullPolicy: IfNotPresent

service:
  port: 8080
  targetPort: 8080

resources:
  requests:
    memory: "128Mi"
    cpu: "250m"
  limits:
    memory: "256Mi"
    cpu: "500m"

gateway:
  name: external-http-gateway
  namespace: infra
  pathPrefix: /nicolasb
